@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    background: #fff;
    color: #111;
}

html, body {
    font-family: 'Roboto', serif;
    font-size: 16px;
    margin: 0;

}

html, body, * {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
    font-size: inherit;
}

.row {
    display: flex;
    flex-direction: row;
}

.row > * {
    flex-grow: .1;
}

.row > :first-child {
    flex-grow: 1;
}

.row > :last-child {
    flex-grow: 0;
}

[data-type], [data-type] > * {

}

[data-type="mod"] > header,
[data-type="character"] > header,
[data-type="characters"] > header {
    font-weight: bold;
    font-size: 24px;
}

[data-type="mod"] {
    /*border: 2px solid #bbb;*/
    /*background: #f8f8f8;*/
    border-radius: 16px;
    margin: 4px;
}

[data-type="mod"] > * {
    padding: 4px;
    margin: 4px;
}
[data-type="mod"] > header {
    padding: 4px 8px;
    margin: 4px 32px;
}

[data-type="mod"] > header > [data-type="name"] {
    font-size: 36px;
    padding: 4px 0;
}
[data-type="mod"][data-style="small"] > header {
    padding: 4px 8px;
    margin: 4px 32px;
}

[data-type="mod"][data-style="small"] > header > [data-type="name"] {
    padding: 0;
    font-size: 24px;
}

[data-type="characters"] {
    border-radius: 16px;
    padding: 8px;
    /*background: #e8e8e8;*/
}

[data-type="characters"] > * {
    padding: 8px;
    margin: 8px;
}

[data-type="character"] {
    border-radius: 16px;
    background: #f0f0f0;
    color: #111;
    margin: 16px;
    /*display: flex;402020*/
    padding: 4px;

}

[data-type="character"] > * {
    padding: 4px;
    margin: 8px;
    border-radius: 8px;
}


[data-type="character"] > [data-type="name"] {
    font-weight: bold;
}


[data-type="character"] > [data-type="types"] {
    text-align: center;
    font-weight: bold;
}


[data-type="character"] > [data-type="description"] {
    font-style: italic;
    text-align: center;
}



[data-type="attributes"] {

    display: flex;
}

[data-type="attributes"] > * {
    flex-grow: 1;
    align-content: center;
    text-align: center;
}

[data-type="description"] > header, [data-type="skill"] > header {
    font-weight: bold;
}