

[data-style="image"] img {
    object-fit: scale-down;
    max-width: 70%;
}

[data-style="image"] ul {
    list-style-type: none;
}

[data-style="image"] li > header {
    font-weight: bold;
    font-size: 18px;
    padding: 4px 0;
}

[data-type="map"] > [data-style="map"] > main {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

[data-type="map"] > [data-style="map"] > main > * {
    margin: 4px;
    padding: 4px;
}

[data-type="map"] > [data-style="map"] > main > img {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    display: block;
}